.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item1 { grid-area: redSlider; }
.item2 { grid-area: greenSlider; }
.item3 { grid-area: blueSlider; }
.item4 { grid-area: redValue; }
.item5 { grid-area: blueValue; }
.item6 { grid-area: greenValue; }
.item7 { grid-area: swatches; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto ;
  grid-template-areas:
    'redSlider redSlider greenSlider greenSlider blueSlider blueSlider'
    'redValue redValue blueValue blueValue greenValue greenValue'
    'swatches swatches swatches swatches swatches swatches ';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.slidecontainer {
  height: 300px;
  /* Width of the outside container */
  padding: 20px;
  
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 300px;
  /* Full-width */
  height: 5px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.6;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  transform: rotate(-90deg) translate(-125px, 0px);;
  

  
 
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 7px;
  /* Set a specific slider handle width */
  height: 30px;
  /* Slider handle height */
  border-radius: 3px;
  background: #000000;
  /*  background */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 7px;
  /* Set a specific slider handle width */
  height: 30px;
  /* Slider handle height */
  border-radius: 3px;
  background: #000000;
  /* background */
  cursor: pointer;
  /* Cursor on hover */
}
