.App {
  text-align: center;
}


.App-header {
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item1 {
  grid-area: redSlider;
}

.item2 {
  grid-area: greenSlider;
}

.item3 {
  grid-area: blueSlider;
}

.item4 {
  grid-area: redValue;
}

.item5 {
  grid-area: blueValue;
}

.item6 {
  grid-area: greenValue;
}

.item7 {
  grid-area: frequency_slider;
}

.item8 {
  grid-area: lfo_value;
}

.item9 {
  grid-area: frequency_slider2;
}

.item10 {
  grid-area: lfo2_value;
}

.item11 {
  grid-area: lfo3_value;
}

.item12 {
  grid-area: frequency_slider3;
}

.item13 {
  grid-area: frequency_slider4;
}

.item14 {
  grid-area: lfo4_value;
}


.item15 {
  grid-area: whiteSlider;
}

.item16 {
  grid-area: whiteValue;
}

.item17 {
  grid-area: lfo5_value;
}

.item18 {
  grid-area: frequency_slider5;
}

.item19 {
  grid-area: logo;
}


.grid-container {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
  grid-template-areas:
    'redSlider frequency_slider2    greenSlider  frequency_slider3  blueSlider  frequency_slider4  frequency_slider whiteSlider  frequency_slider5 logo'
    'redValue  lfo2_value           blueValue    lfo3_value         greenValue         lfo4_value  lfo_value        whiteValue   lfo5_value logo';
  gap: 1px;
  background-color: #303030;
  padding: 10px;
}

.grid-container>div {
  background-color: rgb(222, 222, 222);
  text-align: center;
  padding: 0px;
  font-size: 15px;
}

.slidecontainer {
  height: 300px;

  /* Width of the outside container */
  padding: 20px;

}

/* The slider itself */
.slider {
  transform: rotate(-90deg) translate(-125px, -90px);
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 255px;
  /* Full-width */
  height: 5px;
  /* Specified height */
  background: #060606;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.6;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;





}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 7px;
  /* Set a specific slider handle width */
  height: 30px;
  /* Slider handle height */
  border-radius: 3px;
  background: #000000;
  /*  background */
  cursor: row-resize;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 7px;
  /* Set a specific slider handle width */
  height: 30px;
  /* Slider handle height */
  border-radius: 3px;
  background: #000000;
  /* background */
  cursor: row-resize;
  /* Cursor on hover */
}